# Use an allowlist approach to ignore everything but /vendor
# LICENSE, package.json, and README (with its varations) are never ignored 
# https://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html
*
!/vendor
